body {
  background-color: #d8e2ef;
  padding: 0 !important;
  margin: 0 !important;
}

pre {
  font-weight: 600;
  white-space: pre-wrap;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
  border-color: #ced4da !important;
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #ced4da !important;
  box-shadow: 0 0 0 0.25rem hwb(0deg 100% 0% / 25%) !important;
}
